<!DOCTYPE html>
<html lang="en">

<head>

<meta charset="UTF-8">

<meta name="viewport" content="width=device-width, initial-scale=1.0">

<title>Pizza Donadoni</title>

<link rel="stylesheet" href="/static/css/style.css">

<script src="https://code.jquery.com/jquery-3.7.1.min.js" defer></script>

<link href="https://fonts.googleapis.com/css2?family=Baloo+2&display=swap" rel="stylesheet">

<link rel="icon" type="image/png" sizes="33x36" href="/static/images/sliced-pizza.png">

</head>






<body>


<header>


  <img src="/static/images/donadoni-logo.png" alt="Pizza Donadoni Logo" class="logo">

  <h1>PIZZA DONADONI</h1>

  <div class="signup">
    <a href="#" id="openRegister">Sign Up</a>
  </div>

  <div class="signin">
    <a href="#" id="openLogin">Sign In</a>
  </div>

 <div class="cart">
  <a href="#" id="cart">Cart</a>
</div>



</header>









<nav>
  <ul>
    <li><a href="#" data-category="pizzas">Pizzas</a></li>
    <li><a href="#" data-category="appetizers">Appetizers</a></li>
    <li><a href="#" data-category="desserts">Desserts</a></li>
    <li><a href="#" data-category="beverages">Beverages</a></li>
  </ul>
</nav>












<main id="content">
  <section id="pizzas" class="menu-section">
  <button class="menu-close">&times;</button>
    <div class="container">
      <article class="card">
        <h2>Margherita</h2>
        <p>Pizza Sauce, Mozarella, Basil</p>
		<p>$8</p>
        <button>Add Cart</button>
      </article>

     

	 <article class="card">
        <h2>Pepperoni</h2>
        <p>Pizza Sauce, Mozarella, Pepperoni Slices</p>
		<p>$15</p>
        <button>Add Cart</button>
      </article>
	  
	  
	  
	  
	  <article class="card">
        <h2>Quattro Formaggi</h2>
        <p>Pizza Sauce, Mozarella, Cheddar Cheese, Gorgonzola Cheese, Parmesan Cheese</p>
		<p>$10</p>
        <button>Add Cart</button>
      </article>
	  
	  
	  
	  
	  
	  <article class="card">
        <h2>BBQ Chicken Pizza</h2>
        <p>Pizza Sauce, Mozarella, Grilled Chicken, Red Onions, BBQ Sauce</p>
		<p>$13</p>
        <button>Add Cart</button>
      </article>
	  
	  
	  
	  
	  
	  <article class="card">
        <h2>Meat Lovers Pizza</h2>
        <p>Pizza Sauce, Mozarella, Pepperoni, Sausage, Bacon, Ham</p>
		<p>$20</p>
        <button>Add Cart</button>
      </article>
	  
	  
	  
	  
	  
	  
	  <article class="card">
        <h2>Mushroom Pizza</h2>
        <p>Pizza Sauce, Mozarella, Fresh Mushrooms, Garlic, Oregano</p>
		<p>$11</p>
        <button>Add Cart</button>
      </article>
	  
	  
	  
	   
	  
	  <article class="card">
        <h2>Spicy Italian Pizza</h2>
        <p>Pizza Sauce, Mozarella, Spicy Salami, Chili Flakes</p>
		<p>$14</p>
        <button>Add Cart</button>
      </article>
	  
	  
	  
	  
	  
	  
	  <article class="card">
        <h2>Greek Pizza</h2>
        <p>Pizza Sauce, Mozarella, Feta Cheese, Olives, Tomatoes, Oregano</p>
		<p>$12</p>
        <button>Add Cart</button>
      </article>
	  
	  
	  
	  
	  
	  
	  <article class="card">
        <h2>Hawaiian Pizza</h2>
        <p>Pizza Sauce, Mozarella, Ham, Pineapple</p>
		<p>$16</p>
        <button>Add Cart</button>
      </article>
	  
	  
	  
	  
	  
	  
	  <article class="card">
        <h2>Vegetarian Pizza</h2>
        <p>Pizza Sauce, Mozzarella, Bell Peppers, Mushrooms, Onions, Olives</p>
		<p>$9</p>
        <button>Add Cart</button>
      </article>
	  
	 
	  
	  
	  
	  
	  <article class="card">
        <h2>Prosciutto Pizza</h2>
        <p>Pizza Sauce, Mozzarella, Prosciutto, Fresh Arugula, Parmesan Cheese</p>
		<p>$17</p>
        <button>Add Cart</button>
      </article>
	  
	  
	  
	  
	  
	  
	  <article class="card">
        <h2>Tuna Pizza</h2>
        <p>Pizza Sauce, Mozzarella, Tuna, Red Onions, Olives</p>
		<p>$18</p>
        <button>Add Cart</button>
      </article>
	  
	  
	  
	  
	  
	  
	  <article class="card">
        <h2>Seafood Pizza</h2>
        <p>Pizza Sauce, Mozzarella, Shrimp, Calamari, Garlic</p>
		<p>$19</p>
        <button>Add Cart</button>
      </article>	  

	  
	  
	  
    </div>
  </section>
</main>

















<main id="content">
  <section id="appetizers" class="menu-section">
  <button class="menu-close">&times;</button>
    <div class="container">
      <article class="card">
        <h2>Mozzarella Sticks</h2>
        <p>Mozzarella, Parsley</p>
		<p>$5</p>
        <button>Add Cart</button>
      </article>

     

	 <article class="card">
        <h2>Garlic Parmesan Breadsticks</h2>
        <p>Garlic, Parmesan, Butter, Parsley</p>
		<p>$6</p>
        <button>Add Cart</button>
      </article>
	  
	  
	  
	  
	  <article class="card">
        <h2>Stuffed Mushrooms</h2>
        <p>Cream Cheese, Parmesan, Garlic</p>
		<p>$7</p>
        <button>Add Cart</button>
      </article>
	  
	  
	  

	  
	  <article class="card">
        <h2>Buffalo Chicken Wings</h2>
        <p>Hot Sauce, Butter</p>
		<p>$8</p>
        <button>Add Cart</button>
      </article>
	  
	  
	  
	  
	  
	  
	  <article class="card">
        <h2>Fried Calamari</h2>
        <p>Lemon, Marinara Sauce</p>
		<p>$9</p>
        <button>Add Cart</button>
      </article>
	  
	  
	  
	  
	  
	  <article class="card">
        <h2>Italian Meatballs</h2>
        <p>Breadcrumbs, Parmesan, Marinara</p>
		<p>$10</p>
        <button>Add Cart</button>
      </article>
	  
  
	  
    </div>
  </section>
</main>













<main id="content">
  <section id="desserts" class="menu-section">
  <button class="menu-close">&times;</button>
    <div class="container">

   
	 <article class="card">
        <h2>Affogato</h2>
        <p>Espresso, Vanilla Ice Cream</p>
		<p>$5</p>
        <button>Add Cart</button>
      </article>
	  
	  
	  
	  
	  <article class="card">
        <h2>Cheesecake</h2>
        <p>Cream Cheese, Vanilla</p>
		<p>$6</p>
        <button>Add Cart</button>
      </article>
	  


	  
	  <article class="card">
        <h2>Panna Cotta</h2>
        <p>Cream, Vanilla</p>
		<p>$6</p>
        <button>Add Cart</button>
      </article>




      <article class="card">
        <h2>Tiramisu</h2>
        <p>Mascarpone, Coffee, Cocoa</p>
		<p>$7</p>
        <button>Add Cart</button>
      </article>



    </div>
  </section>
</main>














<main id="content">
  <section id="beverages" class="menu-section">
  <button class="menu-close">&times;</button>
    <div class="container">

   
	 <article class="card">
        <h2>Still Water</h2>
		<p>$3</p>
        <button>Add Cart</button>
      </article>
	  
	  
  
	  
	  <article class="card">
        <h2>Iced Tea Lemon</h2>
		<p>$3</p>
        <button>Add Cart</button>
      </article>
	  


	  
	  <article class="card">
        <h2>Dr Pepper</h2>
		<p>$3</p>
        <button>Add Cart</button>
      </article>




      <article class="card">
        <h2>Mountain Dew</h2>
		<p>$4</p>
        <button>Add Cart</button>
      </article>




      <article class="card">
        <h2>Red Bull</h2>
		<p>$4</p>
        <button>Add Cart</button>
      </article>




	  <article class="card">
        <h2>Fanta</h2>
		<p>$5</p>
        <button>Add Cart</button>
      </article>




      <article class="card">
        <h2>Sprite</h2>
		<p>$5</p>
        <button>Add Cart</button>
      </article>




	  <article class="card">
        <h2>Coca - Cola Zero</h2>
		<p>$6</p>
        <button>Add Cart</button>
      </article>




	 <article class="card">
        <h2>San Pellegrino Aranciata Rossa</h2>
		<p>$7</p>
        <button>Add Cart</button>
      </article>




	  <article class="card">
        <h2>Schweppes Ginger Ale</h2>
		<p>$7</p>
        <button>Add Cart</button>
      </article>




    </div>
  </section>
</main>


















<section id="registerModal" class="modal-overlay" style="display:none;">
  
  <div class="auth-container">
    <div class="close-modal">&times;</div>
    <h2>Create Account</h2>
    <form id="registerForm">
      <div class="form-group">
        <label for="name">Name</label>
        <input type="text" id="name" name="name" placeholder="John" required>

        <label for="surname">Surname</label>
        <input type="text" id="surname" name="surname" placeholder="Doe" required>

        <label for="e-mail">E-mail</label>
        <input type="text" id="e-mail" name="e-mail" placeholder="E-mail Account" required>
      </div>

      <div class="form-group">
        <label for="password">Create Password</label>
        <input type="password" id="password" name="password" placeholder="At least 8 characters" required>
      </div>
      <button type="submit">Sign Up</button>
    </form>
  </div>

</section>








<section id="loginModal" class="modal-overlay" style="display:none;">
  
  <div class="auth-container">
    <div class="close-login">&times;</div>
    <h2>Sign In</h2>
    <form id="loginForm">
      <div class="form-group">
        <label for="login-email">Email</label>
        <input type="email" id="login-email" name="email" placeholder="Enter your email" required>
      </div>

      <div class="form-group">
        <label for="login-password">Password</label>
        <input type="password" id="login-password" name="password" placeholder="Enter your password" required>
      </div>
      <button type="submit" class="btn-login">Sign In</button>
    </form>
  </div>

</section>










<div class="cart-modal" style="display:none;">
  <div class="close-cart">&times;</div>
  <h3>Your Cart</h3>

  <div class="cart-items"></div>

  <div class="cart-total">
    Total: $<span id="cartTotal">0</span>
  </div>

  <button id="approveOrder">Approve Order</button>
</div>












<footer>
 
 <p>Pizza Donadoni 2025 ©</p>

</footer>



<script src="/static/js/jquery.main.js" defer></script>


</body>
</html>
