

html { overflow-y: scroll; }




body {
    
margin: 0;
padding: 0;

min-height: 100vh;
background-image: url("/static/images/pizza-wallpaper.jpg");
background-size: cover;
background-position: center center;
background-repeat: no-repeat;
   
font-family: 'Baloo 2', cursive;
background-attachment: fixed;

}







header { text-align: center; padding: 20px 0; display: flex; flex-direction: column; align-items: flex-start; position: relative; }



.logo { width: 400px; height: 400px; display: block; margin: 0; background-color: transparent; position: relative; top: -50px; margin-left: -15px; }




h1 { font-size: 50px; color: #e35302; margin-top: -403px; margin-left: 755px; position: relative; font-weight: 800; background-color: #ffe9dd; padding: 10px; }




.signup { position: absolute; top: 38px; right: 20px; }


.signup a { text-decoration: none; color: #e35302; font-weight: 800; font-size: 30px; outline:none; border:none; background-color: #ffe9dd; padding: 10px; }







.cart { position: absolute; top: 38px; right:147px; }


.cart a { text-decoration: none; color: #e35302; font-weight: 800; font-size: 30px; outline:none; border:none; background-color: #ffe9dd; padding: 10px; }







.signin { position: absolute; top: 38px; right: 234px; }


.signin a { text-decoration: none; color: #e35302; font-weight: 800; font-size: 30px; outline: none; border: none; background-color: #ffe9dd; padding: 10px; }















nav { position: relative; margin-right: 50px; }


nav ul { list-style: none; display: flex; justify-content: center; }


nav ul li a { display: block; padding: 15px 20px; text-decoration: none; background-color: #ffe9dd; border-radius: 35px; color: #e35302; font-size: 16px; font-weight: 800; }














.modal-overlay { position: fixed; top: 0; left: 0; width: 100%; height: 100%; background-color: rgba(0,0,0,0.5); display: none; z-index: 1000; }




.auth-container { position: fixed; top: 37%; left: 50%; transform: translate(-50%, -50%); background-color: #fff; padding: 30px 40px; border-radius: 12px; box-shadow: 0 8px 20px rgba(0, 0, 0, 0.3); width: 100%; max-width: 400px; text-align: center; z-index: 1001; }




.close-modal { position: absolute; top: 0px; right: 16px; font-size: 30px; cursor: pointer; color: #2a235c; font-weight: 800; }




.auth-container h2 { margin-bottom: 20px; font-family: 'Baloo 2', cursive; color: #333; }




.auth-container input { width: 100%; padding: 10px 12px; margin-bottom: 15px; border: 1px solid #2a235c; border-radius: 8px; font-size: 16px; margin-left: -10px; outline: none; }




.auth-container button { width: 25%; padding: 12px; background-color: #e35302; color: #ffe9dd; border: none; border-radius: 8px; font-size: 16px; cursor: pointer; margin-left: 1px; }




.auth-link { margin-top: 12px; font-size: 14px; }




.auth-link a { color: #f04e30; text-decoration: none; }




.auth-link a:hover { text-decoration: underline; }




.close-login { position: absolute; top: 0px; right: 16px; font-size: 30px; cursor: pointer; color: #2a235c; font-weight: 800; }












.cart-modal { position: fixed; top: 120px; right: 40px; width: 320px; background: #ffffff; border-radius: 12px; box-shadow: 0 10px 40px rgba(0,0,0,0.25); padding: 20px; z-index: 9999; }




.cart-modal h3 {
  margin-top: 0;
  margin-bottom: 15px;
  font-size: 22px;
  color: #ff7123;
  text-align: center;

}




.cart-items {
  max-height: 220px;
  overflow-y: auto;
  margin-bottom: 15px;
}







.cart-total {
  display: flex;
  justify-content: flex-end;
  margin-top: 15px;
  font-size: 18px;
  font-weight: 700;
  color: #e35302;
}



.cart-total span {
  margin-left: 5px;
}







#approveOrder {
  width: 100%;
  padding: 12px;
  background: #e35302;
  color: #fff;
  border: none;
  border-radius: 8px;
  font-size: 16px;
  font-weight: 700;
  cursor: pointer;
}














.close-cart {
  position: absolute;
  top: 0px;
  right: 14px;
  font-size: 26px;
  font-weight: 800;
  color: #e35302;
  cursor: pointer;
  user-select: none;
}




















.menu-section { padding: 60px 40px; display:none; position:relative; }




.menu-section .container { display: grid; grid-template-columns: repeat(auto-fill, minmax(260px, 1fr)); gap: 30px; max-width: 1200px; margin: 0px auto; background-color: #ffffff; }





.menu-close {
  position: absolute;
  top: 70px;
  right: 368px;

  width: 25px;
  height: 25px;
  border-radius: 50%;

  border: none;
  background: #e35302;
  color: #ffffff;
  font-size: 17px;
  font-weight: 600;
  cursor: pointer;

  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 100;
}






.card { background: rgba(255, 255, 255, 0.92); border-radius: 14px; padding: 20px 18px; text-align: center; transition: transform 0.25s ease, box-shadow 0.25s ease; }




.card:hover { transform: translateY(-6px); box-shadow: 0 18px 35px rgb(227 83 2); }




.card h2 { font-size: 19px; margin-bottom: 10px; color: #ff7123; }




.card p { font-size: 15px; color: #2a235c; margin: 6px 0; font-weight: 600; }




.card p:last-of-type { font-size: 17px; font-weight: 800; color: #ff1800; margin: 12px 0; }




.card button { margin-top: 10px; padding: 10px 18px; border: none; border-radius: 20px; background-color: #e35302; color: #fff; font-size: 15px; cursor: pointer; }












footer { position: fixed; bottom: 0px; left: 0px; width: 100%; height: 72px; }


footer p { text-align: center; color: #e35302; background-color: #ffe9dd; font-size: 20px; font-weight: 800; padding: 10px; }

